{% extends "__base__.html" %}
{% block title %}Lista planów{% endblock %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding">
                <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
                <span></span>
            </div>
            <div class="col d-flex justify-content-center"><h3 style="color: red">{{ error }}</h3></div>

            <form action="{% url 'search_plan' %}" method="post" class="col noPadding d-flex justify-content-end">
                {% csrf_token %}
                <div class="noPadding d-flex justify-content-end mb-2">
                    <input class="p-1 mt-4 mb-4" type="search" name="search_bar"
                           placeholder="Nazwa planu" aria-label="Search">
                </div>
                <div class="noPadding d-flex justify-content-end mb-2">
                    <button class="btn btn-success rounded-0 pr-4 pl-4 ml-4 mr-4 mt-4 mb-4" type="submit" name="search"
                            value="">
                        Szukaj
                    </button>
                </div>
            </form>

            <div class="d-flex justify-content-end mb-2 noPadding">
                <a href="{% url 'add_plan' %}"
                   class="btn btn-success rounded-0 pr-4 pl-4 mt-4 mb-4">Dodaj
                    plan</a>
            </div>
        </div>

        <div class="schedules-content">
            <table class="table border-bottom">
                <thead>
                <tr class="d-flex">
                    <th class="col-1">LP.</th>
                    <th class="col-2">NAZWA</th>
                    <th class="col-7">OPIS</th>
                    <th class="col-2 center">AKCJE</th>
                </tr>
                </thead>
                <tbody class="text-color-lighter">
                {% for plan in plans_on_page %}
                    <tr class="d-flex">
                        <td class="col-1">{{ forloop.counter0|add:page_obj.start_index }}</td>
                        <td class="col-2">{{ plan.name }}</td>
                        <td class="col-7">
                            {{ plan.description }}
                        </td>
                        <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                            <a href="{% url 'delete_plan' plan.id %}" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                            <a href="{% url 'plan_details' us_id=plan.id %}"
                               class="btn btn-info rounded-0 text-light m-1">
                                Szczegóły</a>
                            <a href="{% url 'modify_plan' plan.id %}"
                               class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                            <a href="{% url 'plan_add_recipe' %}?planid={{ plan.id }}"
                               class="btn btn-success rounded-0 text-light m-1">Dodaj przepis</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <nav aria-label="Pages of recipes" class="d-flex justify-content-between">
                    <table class="pagination paginator-table">
                        <tr>
                            {% if page_nr > 5 %}
                                <td>
                                    <a href="?page=1">&laquo; Pierwsza</a>
                                </td>
                            {% endif %}
                            {% if plans_on_page.has_previous %}
                                <td>
                                    <a href="?page={{ plans_on_page.previous_page_number }}" class="">&lsaquo;
                                        Poprzednia</a>
                                    <span>|</span>
                                </td>
                            {% endif %}
                            {% for pge in pages_range %}
                                <td>
                                    <a  {% if pge != page_nr %} href="?page={{ pge }}" {% endif %}>{{ pge }}</a>
                                    <span>|</span>
                                </td>
                            {% endfor %}
                            {% if plans_on_page.has_next %}
                                <td>
                                    <a href="?page={{ plans_on_page.next_page_number }}">Następna &rsaquo;</a>
                                </td>
                                <td>
                                    <a href="?page={{ pag.num_pages }}"> Ostatnia &raquo;</a>
                                </td>
                            {% endif %}
                        </tr>
                    </table>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <label>Liczba planów na stronie
                                <select name="records" onchange="form.submit()">
                                    {% for choice in choice_rec_on_list %}
                                        <option value={{ choice }}
                                                        {% if choice|slugify == request.COOKIES.records_on_list_plan %}
                                                            selected
                                                        {% endif %}>
                                            {{ choice }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock content %}