{% extends "__base__.html" %}
{% block title %}Strona główna{% endblock title %}
{% block content %}
                <div class="dashboard-header m-4">
                    <div class="dashboard-menu">
                        <div class="menu-item border-dashed">
                            <a href="{% url 'add_recipe' %}">
                                <i class="far fa-plus-square icon-plus-square"></i>
                                <span class="title">dodaj przepis</span>
                            </a>
                        </div>
                        <div class="menu-item border-dashed">
                            <a href="{% url 'add_plan' %}">
                                <i class="far fa-plus-square icon-plus-square"></i>
                                <span class="title">dodaj plan</span>
                            </a>
                        </div>
                        <div class="menu-item border-dashed">
                            <a href="{% url 'plan_add_recipe' %}">
                                <i class="far fa-plus-square icon-plus-square"></i>
                                <span class="title">dodaj przepis do planu</span>
                            </a>
                        </div>
                    </div>

                    <div class="dashboard-alerts">
                        <div class="alert-item alert-info">
                            <i class="fas icon-circle fa-info-circle"></i>
                            <span class="font-weight-bold">Liczba przepisów: {{ recipes_length }}</span>
                        </div>
                        <div class="alert-item alert-light">
                            <i class="far icon-calendar fa-calendar-alt"></i>
                            <span class="font-weight-bold">Liczba planów: {{ plans_length }}</span>
                        </div>
                    </div>
                </div>

                <div class="m-4 p-4 border-dashed">
                    <h2 class="dashboard-content-title">
                        <span>Ostatnio dodany plan:</span> {{ last_added_plan.name }}
                    </h2>
                    {% regroup meals_from_last_added_plan by day_name as meals_by_day %}
                    {% for day_name in meals_by_day %}
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-2">{{ day_name.grouper }}</th>
                                <th class="col-8"></th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day in day_name.list %}
                            <tr class="d-flex">
                                <td class="col-2">{{ day.meal_name }}</td>
                                <td class="col-8">{{ day.recipe.name }} </td>

                                <td class="col-2"><a href="{% url 'recipe_details' day.recipe_id %}">
                                    <button type="button" class="btn btn-primary rounded-0">
                                        Szczegóły</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
{% endblock content %}